name: Calculator CI

on:
  pull_request:
    branches: [master]

jobs:
  code-quality:
    name: Code Quality
    runs-on: ubuntu-latest
    steps:
      - name: checkout code from repository
        uses: actions/checkout@v5
      - name: install dependencies
        run: npm ci
      - name: check code formatting
        run: npm run prettier:check --if-present
      - name: lint the code
        run: npm run lint:check --if-present
